
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

hr{
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    background-color:rgb(175, 146, 177);
    border-radius: 10px;
    margin: 20px;
    width: 500px;
    height: 500px;
}

.card .profile-informations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.card .profile-informations img{
    border-radius: 50%;
    margin-top: 20px;
}

.card .profile-numbers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

.profile-numbers .info .counter, 
.card .profile-informations p{
    font-weight: 700;
}

.card .profile-informations
.card .profile-informations .city, 
.profile-numbers .info .counter-type{
    color: var(--text-color);
}